global_config:
  model_filename: "vocals_mel_band_roformer.ckpt"
  model_file_dir: "./models_cache"
  output_dir: "./stems"
  output_format: "wav"
  sample_rate: 48000
  use_autocast: true
stages:
  - name: "vocals_primary"
    type: "separate"
    input_dir: "MIX"
    output_dir: "vocals"
    models:
      - name: "Voc-MBR"
        model_file: "vocals_mel_band_roformer.ckpt"        
        invert_using_spec: true
        output_names: 
          Vocals: "Vocals"
          other: "Instrumental"
      - name: "MDX23C-InstVoc-HQ2"
        model_file: "MDX23C-8KFFT-InstVoc_HQ_2.ckpt"        
        invert_using_spec: true
        mdx_params: {}
        vr_params: {}
        demucs_params: {}
        mdxc_params: {}
        output_names: 
          Vocals: "Vocals"
          Other: "Instrumental"
      - name: "MBR-Kim-FT-unwa"
        model_file: "mel_band_roformer_kim_ft_unwa.ckpt"        
        invert_using_spec: true
        output_names: 
          Vocals: "Vocals"
          Other: "Instrumental"
      - name: "MBR-big-beta6x"
        model_file: "melband_roformer_big_beta6x.ckpt"        
        invert_using_spec: true
        output_names: 
          Vocals: "Vocals"
          Other: "Instrumental"
      - name: "BSR-Voc-Revive-v3e"
        model_file: "bs_roformer_vocals_revive_v3e_unwa.ckpt"        
        invert_using_spec: true
        output_names: 
          Vocals: "Vocals"
          Other: "Instrumental"
      - name: "BSR-Voc-Ressurection"
        model_file: "bs_roformer_vocals_resurrection_unwa.ckpt"
        invert_using_spec: true
        output_names: 
          Vocals: "Vocals"
          Other: "Instrumental"
      - name: "MBR-Voc-fv6_gabox"  
        model_file: "mel_band_roformer_vocals_fv6_gabox.ckpt"        
        invert_using_spec: true
        output_names: 
          Vocals: "Vocals"
          Other: "Instrumental"

  - name: "instrumental_primary"
    type: "separate"
    input_dir: "MIX"
    output_dir: "instrumental"
    models:
      - name: "UVR-Inst_HQ_5"
        model_file: "UVR-MDX-NET-Inst_HQ_5.onnx"
        output_single_stem: "Instrumental"
        mdx_params: {"hop_length": 1024, "segment_size": 512, "overlap": 0.75, "batch_size": 1, "enable_denoise": False}
        output_names: 
          Instrumental: "Instrumental"
      - name: "BSR-Inst-Ressurection"
        model_file: "bs_roformer_instrumental_resurrection_unwa.ckpt"
        output_single_stem: "other"
        mdxc_params: {"segment_size": 512, "override_model_segment_size": True, "batch_size": 1, "overlap": 24, "pitch_shift": 0}
        output_names: 
          other: "Instrumental"
      - name: "Kim-Inst"
        model_file: "Kim_Inst.onnx"
        output_single_stem: "instrumental"
        output_names: 
          instrumental: "Instrumental"
      - name: "MDX-NET-Inst-82"
        model_file: "UVR-MDX-NET_Inst_82_beta.onnx"
        output_single_stem: "Instrumental"
        mdx_params: {"hop_length": 1024, "segment_size": 512, "overlap": 0.75, "batch_size": 1, "enable_denoise": False}
        output_names: 
          Instrumental: "Instrumental"

  - name: "instrumental_multistem"
    type: "separate"
    input_dir: "MIX"
    output_dir: "instrumental_multistem"
    models:
      - name: "Kuilab-B-Drums"
        model_file: "kuielab_b_drums.onnx"
        output_single_stem: "Drums"
        output_names: 
          Drums: "Drums"
      - name: "Kuilab-B-Bass"
        model_file: "kuielab_b_bass.onnx"
        output_single_stem: "Bass"
        output_names: 
          Bass: "Bass"
      - name: "BS-Roformer-SW"
        model_file: "BS-Roformer-SW.ckpt"
        output_names: 
          "vocals": "Vocals"
          "drums": "Drums"
          "bass": "Bass"
          "other": "Other"
          "guitar": "Guitar"
          "piano": "Piano"   
      - name: "htdemucs_6s"
        model_file: "htdemucs_6s.yaml"
        demucs_params: {"segment_size": 256, "shifts": 4, "overlap": 0.75, "segments_enabled": True}
        output_names: 
          "vocals": "Vocals"
          "drums": "Drums"
          "bass": "Bass"
          "other": "Other"
          "guitar": "Guitar"
          "piano": "Piano"
      - name: "htdemucs_ft"
        model_file: "htdemucs_ft.yaml"
        demucs_params: {"segment_size": 256, "shifts": 4, "overlap": 0.75, "segments_enabled": True}
        output_names: 
          "vocals": "Vocals"
          "drums": "Drums"
          "bass": "Bass"
          "other": "Other"

  - name: "drums_multistem"
    type: "separate"
    input_dir: "instrumental_multistem"
    output_dir: "instrumental_multistem_drums"
    filename_filter: "(Drums)"
    models:
      - name: "MDX23C-DrumSep-AJ"
        model_file: "MDX23C-DrumSep-aufr33-jarredou.ckpt"
        mdx_params: {}
        vr_params: {}
        demucs_params: {}
        mdxc_params: {}
        output_names: 
          "kick": "Kick"
          "snare": "Snare"
          "toms": "Toms"
          "hh": "Hihat"
          "ride": "Ride"
          "crash": "Crash"

  - name: "vocals_dry"
    type: "separate"
    input_dir: "vocals"
    output_dir: "vocals_dry"
    filename_filter: "(Vocals)"
    models:
      - name: "MDX23C-De-Reverb-AJ"
        model_file: "MDX23C-De-Reverb-aufr33-jarredou.ckpt"
        output_single_stem: "dry"
        mdx_params: {}
        vr_params: {}
        demucs_params: {}
        mdxc_params: {}
        output_names: 
          dry: "Vocals (Dry)"
      - name: "UVR-De-Reverb-AJ"
        model_file: "UVR-De-Reverb-aufr33-jarredou.pth"
        output_single_stem: "dry"
        mdx_params: {}
        vr_params: {}
        demucs_params: {}
        mdxc_params: {}
        output_names: 
          dry: "Vocals (Dry)"    
      - name: "De-Reverb-HQ-FoxJoy"
        model_file: "Reverb_HQ_By_FoxJoy.onnx"
        output_single_stem: "No Reverb"
        mdx_params: {}
        vr_params: {}
        demucs_params: {}
        mdxc_params: {}
        output_names: 
          "No Reverb": "Vocals (Dry)"

  - name: "vocals_ensemble_dry"
    type: "ensemble"
    mode: "vocals"
    input_dir: "vocals_dry"
    output_dir: "ensemble"
    output_name: "vocals_ensemble_dry.wav"
    top_k: 5

  - name: "vocals_ensemble"
    type: "ensemble"
    mode: "vocals"
    input_dir: "vocals"
    filename_filter: "(Vocals)"
    output_dir: "ensemble"
    output_name: "vocals_ensemble.wav"
    top_k: 5

  - name: "inst_ensemble_vocals"
    type: "ensemble"
    mode: "instrumental"
    input_dir: "vocals"
    filename_filter: "(Instrumental)"
    output_dir: "ensemble"
    output_name: "instrumental_ensemble_no_vocals.wav"
    top_k: 5

  - name: "inst_ensemble"
    type: "ensemble"
    mode: "instrumental"
    input_dir: "instrumental"
    filename_filter: "(Instrumental)"
    output_dir: "ensemble"
    output_name: "instrumental_ensemble.wav"
    top_k: 3

  - name: "bass_ensemble"
    type: "ensemble"
    mode: "instrumental"
    input_dir: "instrumental_multistem"
    filename_filter: "(Bass)"
    output_dir: "ensemble"
    output_name: "instrumental_ensemble_bass.wav"
    top_k: 5

  - name: "drums_ensemble"
    type: "ensemble"
    mode: "instrumental"
    input_dir: "instrumental_multistem"
    filename_filter: "(Drums)"
    output_dir: "ensemble"
    output_name: "instrumental_ensemble_drums.wav"
    top_k: 5

  - name: "guitar_ensemble"
    type: "ensemble"
    mode: "instrumental"
    input_dir: "instrumental_multistem"
    filename_filter: "(Guitar)"
    output_dir: "ensemble"
    output_name: "instrumental_ensemble_guitar.wav"
    top_k: 5

  - name: "piano_ensemble"
    type: "ensemble"
    mode: "instrumental"
    input_dir: "instrumental_multistem"
    filename_filter: "(Piano)"
    output_dir: "ensemble"
    output_name: "instrumental_ensemble_piano.wav"
    top_k: 5      